/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */

#welcome {

}

#exercise__title {

}

#editor__title {

}

#input__title {

}

#output__title {

}

#test__title {

}


.title {

}

/* Texts */

#js-exercise__description {

}

#footnote {

}

#footnote__number-of-exercises {

}

#footnote__number-of-uniq-solutions {

}

#footnote__number-of-solutions {

}

/* Information and tags */

#information__by {

}

#js-information__by__data  {

}

#information__category {

}

#js-information__category__data  {

}

#information__solution-by {

}

#js-information__solution-by__data  {

}

.tags {

}

.data {

}

/* Selection */

#level {

}

#lang {

}

#js-chooser__number {

}

#js-chooser__load {

}

#js-solution__number {

}

#js-solution__load {

}

.options {

}


/* Editor */

#js-editor__window {

}

#editor__run {

}

#editor__testing {

}

.button {

}

/* Input, Output and Test */

#io__input {

}

#input__title {

}

#js-input__text {

}

#io__output {

}

#output__title {

}

#js-output__text {

}

#io__test {

}

#test__title {

}

#js-test__text {

}

.io__text {

}

/* Containers for layout */

#main {

}

#chooser {

}

#solution {

}

#selection {

}

#information {

}

#exercise {

}

#editor {

}

#io {

}

.container {

}

/* Effects for selected buttons */

.button--succeed {

}

.button--fail {

}

.button--selected {

}
