/*
 * A blank CSS
 *
 * by: krm
 */

/* Headlines */

body{
  background-color:rgb(105, 168, 225);
}
p{
  margin-left: 20px;
  font-family:fantasy;
}
#welcome {
 text-align: center;
 font-style:italic;
 background-color: violet;
 color:blue;
 font-size: 500%;
}
#subtitle {
  margin-left: 20px;
  text-decoration:underline;
  font-family:fantasy;
}
#list {
  border-radius: 10px 40px;
  background-color:rgb(0, 197, 158);
  font-style:oblique;
  width:700px;
  margin:20px;
  padding: 20px;
}
footer{
  font-size: 200%;
  text-decoration:underline;
  margin-left: 20px;
}
#exercise__title {

}

#editor__title {

}

#input__title {

}

#output__title {

}

#test__title {

}


.title {

}
