/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */
div{
    background-color: lightcyan;
    padding: 10px;
    border-style: solid;
    margin: 30px;
    border-radius: 50px;
    border-color: lightskyblue;
    
}
#welcome {
    text-align: center;
    font-size: 50px ;
    color: lightpink;
    text-decoration: underline;
    

}
#subtitle {
    color: rgb(255, 30, 30);
    font-size: 35px;
    margin-top: 50px;
    
}

#list {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family:  ;
    font-size: 20px;
}
p{
    font-style: italic;
    font-weight: bold;
}
