/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */

  div {
 	   border-style: solid;
	   border-color: aqua;
	   background-color: black;
	   border-width:7px;
	   color: red;
	   text-align:center;  
       margin:-8px;
}

#welcome {
	   border-style: dotted;
	   border-color: aqua;
	   background-color: black;
	   border-width:7px;
	   color: red;
	   text-align:center;
	   margin-left:500px;
	   margin-right:500px;
	   

}

.title {
   
}

	  
 body {

	   background-color: black;
       
}
  li {
	   border-style:dashed;
	   border-color:green;
	   padding:7px;
	   margin: 15px;
       margin-left:350px;
	   margin-right:350px;
	  }	  
	
  p {
     text-decoration: underline;
  }