/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */

html {
  background-image: url("../image/code.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
	background-color: black;
	opacity: 0.7;
	text-color: white;
}

footer {
	color: red;
}

div {
	color: white;
	opacity: ;
}

#list {
	color: white;
}

h2 {
	color: red;
}

#welcome {
	text-align: center;
	color
}


