/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */


div {
    padding: 40px;
    margin: 40px;
    border: 5px solid green;
    border-radius: 50px;
    background-color: coral;
}

#list li::first-letter {
   font-weight: 900;
   font-size: 24px;
}

#list li {
   padding: 5px;
}

strong {
   font-size: 24px;
}

footer {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}

#welcome {
  text-align: center;
  font-size: 50px;
}


.title {
      color:green;
}

a {
  background-color: blue;
  border-radius: 50px;
  padding: 5px;
  color: red;
}

a:hover::before {
    content: "🔥";
}
