/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */

  

#welcome {
text-align: center;
font-family: "Times New Roman", Georgia, 'Times New Roman', Times, serif;
font-size: 40px;
font-variant: normal;
width: auto;
max-width: 700px;
border: 3px solid rgb(220, 241, 23) ;
padding: 20px;
margin: 20px;
background-color: rgb(230, 235, 186);
}

#list{
   
  width: auto;
  max-width: 700px;
  border: 3px solid rgb(161, 16, 118) ;
  padding: 20px;
  margin: 20px;
  background-color: rgb(129, 186, 230);
   

}
#exercise__title {
    

}

#editor__title {

}

#input__title {

}

#output__title {

}

#test__title {

}


.title {

}
