/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */

#welcome {
color: gray;
font-style: oblique;
font-size: 60px;
text-align: center;
background-color: black;
}

#subtitle {
color: gray;
font-weight: bold;
font-family: sans-serif ;
}

#ttt {
font-size: 15px;
font-family:monospace ;
text-decoration: underline;
}

#list {
border-style: dashed;
border-radius: 15px;
border-color: gray;
background-color: honeydew;

}

#foot {
color: red;
}

#level {
background-color: ivory;
}


#b {
background-color: lavender;
}

#link{
    color: blue;
}