/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */

/*background-color: rgb(98, 221, 252);*/
html, body {
    min-height: 100%;
}

body {
    font-family: Lucida, sans-serif;
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-radius: 20px;
    border-width: 10px;
    border-color: rgba(179, 255, 0, 0.486);
    background-image: url("../image/grass.jpg");
    background-position: center center;
    background-size: cover;
}

 body::after {

}

#welcome {
    text-align: center;
}

#exercise__title {

}

ul {
    list-style-image: url("\in-test-1\image\cute-animal-gif-png-5.gif");
    border-left: 5px solid rgb(94, 134, 0);
    list-style-type: none;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.09);
}

li {
    margin: 5px;
}

#editor__title {

}

#input__title {

}

#output__title {

}

#test__title {

}


.title {

}
