/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */

body { 
   background-color: gray;
}
h1 {
	position: relative;
	margin: auto;
	max-width: 200px;
	border: medium solid blue;
	border-radius: 	20px;
}
h2 {
	text-decoration: underline;
}
ul {
	border-left: thick solid red;
}