/* 
 * A blank CSS 
 * 
 * by: ABZL
 */

/* Headlines */

#welcome {
    text-align: center;
    padding: 20px;
    border: 8px dashed blue;
    border-radius: 15px;
    margin-left: 200px;
    margin-right: 200px;
}

ol {
    list-style-type: lower-alpha;
}

ol {
    list-style-type: upper-roman;
}

#image {
    padding: 50px;
}

#image-1 {
    border-radius: 8px;
    width: 300px;
}

#image-2 {
    visibility: hidden;
    position: absolute;
}

#image-3 {
    border-radius: 50%;
    position: absolute;
    left: 75%;
}

#image-4 {
    visibility: hidden;
    position: absolute;
}

#image-5 {
    width: 1000px;
    border: 10px solid black;
    border-radius: 10px;
}

#image-6 {
    visibility: hidden;
    position: absolute;
}

body {
    background-color: lightgray;
}

