/*
 * A blank CSS
 *
 * by: krm
 */

/* Headlines */

body{
  background-image: url("grass.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.90;
}

#welcome {
  box-shadow: 0 0 20px 20px red;
  color:red;
  width:450px;
}

#list {
border: 10px double rgb(11, 160, 254);
background-color: yellow;
width:900px;
padding:10px;
margin-left: -9px;
margin-top: 40px;
}

.li1{
   margin:10.5px;
}

#list1 {
  border-left: 4px solid red;
  background-color: none;
  font-style:oblique;
  width:650px;
  margin:20px;
  padding:20px;
  list-style-type:lower-latin;
}
#list2 {
  list-style-type:upper-roman;
}
#list3 {

}
#image {
margin-right:10px;
padding:70px;
opacity: 1.00;
}
#image-1 {
width: 250px;
height: 200px;
border-radius:10px;
border: 5px double rgb(11, 160, 254);
}
#image-2{
width: 250px;
height: 200px;
border-radius:50px;
margin:15px;

}

#image-2:hover{
  box-shadow: 0 0 34px 1px rgb(11, 160, 254);

}
#image-3{
border: 4px solid red;
  border-radius: 4px;
  width: 250px;
  height: 200px;
  padding: 5px;
  margin:15px;
}

#image-3:hover {
  box-shadow: 0 0 2px 1px rgb(11, 160, 254) ;
}

#image-4{
  width: 250px;
  height: 200px;
  border-radius:50%;
  padding:15px;
  border: 5px dotted rgb(11, 160, 254);
}

#image-5 {
  width: 250px;
  height: 200px;
  border-radius:20px;
  filter: contrast(180%);
  box-shadow: 0 0 5px 5px red;
}
#image-6 {
  width: 250px;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 200, 23, 13), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:15px;
  filter: saturate(7);
}
footer{
font-size: 150%;
text-decoration-line: overline underline;
 text-decoration-style: dashed;
 text-decoration-color: red;
}
