/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */

	#welcome {
	  color: green;
	}
  body{
   background-color:gray;
  }
  #image-1{
    border-radius: 20%;
	height:auto;
	width: 600px;
  }
  
    #image-2{
    border-radius: 10px;
	height:auto;
	width: 300px;
    border-color: red;
	border-style: solid;
  }
  
    #image-3{
    border-radius: 20%;
	height:auto;
	width: 100px;
    filter: blur(5px);
  }
  
      #image-4{
    border-radius: 20%;
	height:auto;
	width: 400px;
    filter: invert(100%);
  }
  
        #image-5{
    border-radius: 20%;
	height:auto;
	width: 1000px;
    filter: grayscale(80%);
  }
        #image-6{
    border-radius: 20%;
	height:auto;
	width: 1500px;
    filter: saturate(5);
  }
  
  img:hover {
  box-shadow: 0 0 30px 1px rgba(0, 140, 186, 0.5);
}
  
  .red{
   background-color: Red;
  }
  .green{
   background-color: Green;
  }
  ol{
    list-style-type: hebrew;
  }
  
  li{
   list-style-type: hiragana;
  }
  li li li{
    list-style-type:lower-greek;
  }
  
  li li{
   list-style-type:armenian;
  }
