/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */

#welcome {

}

#list {
    background: #cce5ff;
}

img {
    margin: 25px;
    width: 500px;
    height: auto;
}

#image-1 {
    border-radius: 8px;
}

#image-2 {
    border-radius: 50%;
}

#image-3 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
}

#image-4 {
    opacity: 0.5;
}

#image-5 {
    filter: grayscale(100%);
}

#image-6 {
    border-radius: 25px;
}

ol{
    list-style-type: square;
}
