/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */


body, html {
    background-color: rgb(46, 45, 45);
}    
#welcome {
    color: rgb(119, 118, 118);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: rgb(10, 110, 27) 2px 2px 4px;
    border-style: inset;
    border-color: rgb(119, 151, 4);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    border-width: 5px;
}

#list {
    color: rgb(119, 118, 118);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: initial;
    text-shadow: rgb(10, 110, 27) 2px 2px 4px;
    border-style: inset;
    border-color: rgb(119, 151, 4);
    border-radius: 18px;
    margin: 10px;
    padding: 5px;
    border-width: 3px;

}

#image {
    float: right;
    border-radius: 20px;
    padding: 5px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;

}
.dropdown {
    position: relative;
                display: inline-block;
}

.dropdown-content {
                display: none;
                position: absolute;
                background-color: rgb(216, 202, 13);
                min-width: max-content;
                border-radius: 20px;
                box-shadow: 0px 8px 16px 0px rgb(119, 118, 118);
                padding: 12px 20px;
                z-index: 1;
}   

.dropdown:hover .dropdown-content {
    display: block;
}
footer {
    color: teal;
}