/* 
 * A blank CSS 
 * 
 * by: krm
 */

/* Headlines */

#background{
    background-color: darkgray;

}


#welcome {
font-size: 40px;
background-color: ivory;
font-family: monospace;
color: lawngreen;
}

#list {
background-color: lightblue;
padding-top: 5px;
padding-bottom: 0.5px;
padding-right: 5px;
color: rgb(4, 4, 58);
font-family: sans-serif;

}

#image {
    padding: 10px;

}

#image-1{
  border: 5px solid blueviolet ;
  border-radius: 25%;
  height: 500px;
  width: 700px;
  padding: 0px;
   
}
#image-2{
    border:5px solid brown;
    border-radius: 50%;
    height: 250px;
    width: 400px;
    opacity: 0.8;

}
#image-3{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 5px solid blue;

}

#image-4{
    opacity: 0.5;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 5px solid blue;

}
#image-5{
    border-bottom-right-radius: 11px;
    border-top-left-radius: 11px;
    border: 10px solid yellowgreen;
    width: 500px;
    height: 500px;

}
#image-6{
    border-bottom-right-radius: 11px;
    border-top-left-radius: 11px;
    border: 10px solid yellowgreen;
    width: 500px;
    height: 500px;

}
