/* 
 * A my CSS 
 * 
 * By: ABZL
 */


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

p {
    color: coral;
}

p::first-letter{
    color: black;
    font-weight: bold;
}

ul {
    list-style-type: none;
    font-style: italic;
}

ol {
    list-style-type: upper-roman;
}

#square-3 {
    filter: brightness(25%);
}

.square:first-child {
    background-color: orange;
}

.square:nth-child(2) {
    background-color: purple;
}

img[alt=blomma] {
    width: 50%;
    height: auto;
}

img[alt=katt] {
    border-radius: 100%;
}

img[alt=hav] {
    filter: grayscale();
}

.square.red {
    background-color: red;
    border: 1px solid black;
    margin: 25px;
    padding: 20px;
}

.square.green {
    background-color: green;
    border: 20px solid darkgreen;
    margin: 25px;
}

.square.blue {
    border: 10px solid;
    border-top: 20px solid;
}