
/*
* A my CSS
*
*/
#welcome-1 {
  font-family: Sans-Serif;
}
#welcome-2 {
  font-size: 50px;
}
#welcome-3{
  font-size: 40px;
}

#p{
  color:yellow;

}
span{
  color:black;
  font-weight: bold;
}

#list{
  font-style:italic;
  list-style-type:none;
}

#list1{
  list-style-type: upper-roman;
}
#sq1{
  background-color: orange;
}
#sq2{
  background-color: rgb(225,0,225);

}
#sq3{
  background-color:#009999;

}
#bild1{
  border-radius:50%;

}
#bild2{
  width: 200px;
  height: 200px;

}
#bild3{
  filter: grayscale(100%);

}
#sq4{
  border: solid 0.5px;
  margin:25px;
  padding: 20px;
}
#sq5{
  border: solid 20px green;
  margin:30px;
}
#sq6{
  border: solid 10px;
  border-top: solid 20px;

}
