/* 
 * A base CSS 
 * 
 */


.square {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-style: solid;
}

#square-3 {
  background-color: hsl(176, 100%, 50%);
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
