/* 
 * A my CSS 
 * 
 */

 h2 {
     font-size: 50px;
 }

 h1{
     font-family: sans-serif;
     font-size: 25px;
 }
 h3{
     font-size: 35px;
 }

 p{
     color: limegreen;
 }
 p::first-letter {
     color: black;
     font-weight: bolder;
 }

 #list{
     list-style-type: none;
     font-style: italic;
 }
ol{
    list-style-type: upper-roman;
}

.A {
    background-color: orange;
}

.B{
background-image: linear-gradient( -90deg,  blue, red);
}

#square-3.square{
   background-color: hsl(176, 100%, 20%);
}



img[src="image/cat.jpeg"]{
   border-radius: 50%;
}
img[src="image/daisy.jpg"]{
    width: 250px;
}
img[src="image/sea.jpeg"]{
    filter: grayscale(100%);
}

.square.red {
    border: 1px;
    border-style: solid;
    margin: 25px;
    padding: 20px;
}

.square.green{
    border: 20px;
    border-style: solid;
    margin: 40px;
    border-color: limegreen;
}


.square.blue{
    border: 10px;
    border-top: 20px;
    border-style: solid;
}