/* 
 * A my CSS 
 * 
 */
   h2 {
	 font-size: 50px;
 }
 h1{
	 font-family: sans-serif;
 }
 h3{
     font-size: 46px;
 }
 p {
     color: red;
     }
 p::first-letter {
	color: black;
	font-weight: bold;
}
ul {
    list-style-type: none;
    font-style: italic;
}
ol {
    list-style-type: upper-roman;
    font-style: italic;
}
.square{
   background-color: orange;
   background-color: #800066;
}

#square-3{
   background-color: darkblue;
}
img{
   width: 300px;
   height: auto;
   border-radius: 50%;
   filter: grayscale(100%);
}
.red {
  border-style: solid;
  border-color: black;
  margin: 25px;
  padding: 20;
}
.green {
  border-style: solid;
  border-width: 20px;
  border-color: green;
  margin: 25px; 
}
.blue {
  border-style: solid;
  border-width: 10px;
  border-top-width: 20px; 
}