h1 {
    font-family: sans-serif;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 45px;
}

p {
    color: limegreen;
}

p::first-letter {
    color: black;
    font-weight: bold;
}

#list {
    list-style-type: none;
    font-style: italic;
}

ol {
    list-style-type: upper-roman;
}

.square {
    color: orange;
}

.square:nth-child(2){
    color:purple;
}

#square-3 {
    color: rgb(150, 98, 1);
}

img {
    width: 300px;
    height: auto;
}

img:nth-child(2) {
    border-radius: 8px;
} /* Funkar inte?? */

img:nth-child(3) {
    filter: grayscale(100%);
} /* Funkar inte heller? */

.red {
    margin: 25px;
    padding: 20px;
    border-color: black;
}

.green {
    border: 20px;
    border-color: green;
    margin: 30px;
}

.blue {
    border-top: 20px;
    border-left: 10px;
    border-right: 10px;
    border-bottom: 10px;
}