/* 
 * A my CSS 
 * 
 */
h2 {
 font-size: 50px;
}
h1 {
    font-family: Impact, Charcoal, sans-serif;
}
h3{ 
    font-size: 40px;
}
#list{
    list-style: square;
}
p {
    color: chocolate;
}
ol {
   list-style-type: upper-roman; 
}
ol ol {
    list-style-type: lower-alpha;
}
ol ol ol {
    list-style-type: upper-alpha;
}
ul {
    font-style: italic;
}
#square-1{
background-color: orange;
}
#square-2 {
    background-color: purple;
}
#square-3 {
    background-color: blue;
}
#image-2{
    width: 300px;
}
#image-1{
    border-radius: 100%;
}
#image-3{
    filter: grayscale(100%);
}
#kvadrat-1{
    color:black;
    border-style: solid;
    margin: 25px;
    padding: 20px;
}
#kvadrat-2{
    border-width: 20px;
    margin: 40px;
    color: green;
}
#kvadrat-3{
    border-width: 10px;
    border-top: 20px ;
}