/* 
 * A my CSS 
 * 
 */
#welcome-2 {
    font-size: 50px;
}

#welcome-1{
    font-family: sans-serif;
    font-size: 30px;
}
#welcome-3{
    font-size: 40px;
}
p{
    color: #a52a2a;

}
p::first-letter{
    color:#000000;
    font-weight: bold;
    font-size: 200%;
}
#list{
    list-style-type: none;
    font-style: italic;
}
ol{
    list-style-type: upper-roman;
}
#square{
    background-color: #ffa500;
}
#square-1{
    background-color: #ff00ff;
}
#square-2{
    background-color: #0000ff;
}
#img{
    border-radius: 100%;
}
#img-1{
    height: 250px;
    width: 350px;
}
#img-2{
    filter: grayscale(100%);
}
#square_red{
    border: solid thin #000000;
    margin: 25px;
    padding: 20px;
}
#square_blue{
    border-bottom: solid 10px;
    border-left: solid 10px;
    border-right: solid 10px;
    border-top: solid 20px;
}
#square_green{
    border: solid 20px #008000;
    margin: 25px;
}