/* 
 * A my CSS 
 * 
 */
h1 {
    font-family: sans-serif;
}

 h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

p {
    color: blue;
}

p::first-letter {
    color: black;
    font-weight: bold;
}

#list {
    list-style-type: none;
    font-style: italic;
}

#list > li > ol{
    list-style-type: upper-roman;
}

div.square:first-child {
    background-color: orange;
}

div.square:nth-child(2) {
    background-color: yellow;
}

#square-3 {
    filter: brightness(50%);
}

img[alt="katt"] {
    border-radius: 50%;
}

img[alt="blomma"] {
    width: 50px;
    height: auto;
}

img[alt="hav"] {
    filter: grayscale();
}

.square.red {
    border-width: 1px;
    margin: 25px;
    padding: 20px;
}

.square.green {
    border-width: 20px;
    margin: 30px;
    border-color: green;
}

.square.blue {
    border-width: 10px;
    border-top-width: 20px;
}