/* 
 * A my CSS 
 * 
 */

h1 {
	font-family: sans-serif;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;
}

p {
	color: red;
}

p:first-letter {
	color: black;
	font-style: bold;
}

ul {
	font-style: italic; 
	list-style: none;
}

ol {
	list-style: lower-roman;
}
.square {
	background-color: hsl(279, 100%, 50%);
}

.square:first-of-type {
	background-color: hsl(37, 100%, 50%);
}

img[alt="katt"] {
	border-radius: 50%;
}

img[alt="blomma"] {
	transform: scale(0.5)
}

img[alt="hav"] {
	filter: grayscale(100%);
}

.red {
  margin: 25px;
  padding: 20px;
}

.green {
	border-width: 20px;
	margin: 25px;
	border-color: green;
}

.blue {
	border-width: 10px;
	border-top-width: 20px;
}